.imageCaptioning {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 4px 37px 2px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 1px 4px 37px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 1px 4px 37px 2px rgba(255, 255, 255, 0.5);

    h1 {
      position: absolute;
      color: var(--primary);
      top: 20px;
    }

    .content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      input {
        display: none;
      }

      label {
        background-color: var(--primary);
        padding: 14px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        text-align: center;
        animation: reverseBubble 1.5s forwards; /* Ánh xạ hiệu ứng */

        &:hover {
          animation: bubble 1.5s forwards; /* Ánh xạ hiệu ứng */
        }
      }

      select {
        width: fit-content;
        border: 1px solid var(--primary);
        outline: 1px solid var(--primary);
        color: var(--primary);
        padding: 8px;
        border-radius: 6px;
      }

      .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }

      .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .items {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          .caption {
            width: fit-content;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            position: relative;
            padding: 0 6px;

            // animation: typing 2s steps(20),
            //   cursor 0.4s step-end infinite alternate;
          }

          .caption::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-left: 2px solid var(--primary);
            background-color: white;
            animation: typing 2s steps(20) forwards,
              cursor 0.4s step-end infinite alternate;
          }

          @keyframes typing {
            100% {
              left: 99%;
            }
          }
          @keyframes cursor {
            50% {
              border-color: transparent;
            }
          }

          // // typing effect
          // @keyframes typing {
          //   from {
          //     width: 0;
          //   }
          // }

          .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            span {
              font-size: 18px;
              text-align: center;
            }

            img {
              width: 400px;
              height: 260px;
              object-fit: cover;
              border-radius: 8px;
              transform: scale(0); /* Bắt đầu với kích thước bằng 0 */
              animation: pulse 0.8s forwards; /* Ánh xạ hiệu ứng phóng to */
            }

            @keyframes grow {
              to {
                transform: scale(1); /* Kết thúc với kích thước ban đầu */
              }
            }
          }
        }

        label {
          width: fit-content;
        }
      }
    }
  }
}

.circle-loading {
  justify-self: center;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-color: var(--primary);
  animation: pulse 1.5s infinite; /* Ánh xạ hiệu ứng */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Bắt đầu với kích thước ban đầu */
  }
  50% {
    transform: scale(1.2); /* Phóng to lên 20% */
  }
  100% {
    transform: scale(1); /* Quay lại kích thước ban đầu */
  }
}
