// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: #7d38f3;
  --primary-hover: #7d38f347;
  --primary-text: rgb(40, 34, 126);
  --primary-hover-dark: #52289b;
  --background-color-dark: #150933; // #111

  --border-color-dark: #333;
  --default-layout-background-dark: #c2beff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  color: black;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--primary-hover); /* Màu nền của track thanh cuộn */
  }
}

a[href] {
  text-decoration: none;
}

button {
  border: none;
}
